{{ if .Contacts }}
    {{ $isSide := false }}

    {{ if isset . "_isSide" }}
        {{ $isSide = ._isSide }}
    {{ end }}

    {{ $wrapperClass := "section" }}

    {{ if $isSide }}
        {{ $wrapperClass = "sideSection" }}
    {{ end }}

<div id="contacts" class="{{ $wrapperClass }} contact">
    <ul>
        {{ range .Contacts }}
        <li class="contact__item">
            <i class="{{ .Icon }}"></i><span>{{ .Info | safeHTML }}</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
