{{ if .Interests }}
    {{ $isSide := false }}

    {{ if isset . "_isSide" }}
        {{ $isSide = ._isSide }}
    {{ end }}

    {{ $wrapperClass := "section" }}
    {{ $headingClass := "section__heading" }}
    {{ $titleClass := "section__title" }}
    {{ $contentClass := "section__content" }}
    
    {{ if $isSide }}
        {{ $wrapperClass = "sideSection" }}
        {{ $headingClass = "sideSection__heading" }}
        {{ $titleClass = "sideSection__title" }}
        {{ $contentClass = "sideSection__content" }}
    {{ end }}
    
<div class="{{ $wrapperClass }}">
    <div class="{{ $headingClass }}">
        <h2 class="{{ $titleClass }}">{{ i18n "interests" }}</h2>
    </div>
    <div class="{{ $contentClass }}">
        <ul class="interests">
            {{ range .Interests }}
            <li class="interests__item">{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
