{{ if .Profile }}
    {{ $isSide := false }}

    {{ if isset . "_isSide" }}
        {{ $isSide = ._isSide }}
    {{ end }}

    {{ $wrapperClass := "section" }}
    {{ $headingClass := "section__heading" }}
    {{ $titleClass := "section__title" }}
    {{ $contentClass := "section__content" }}

    {{ if $isSide }}
        {{ $wrapperClass = "sideSection" }}
        {{ $headingClass = "sideSection__heading" }}
        {{ $titleClass = "sideSection__title" }}
        {{ $contentClass = "sideSection__content" }}
    {{ end }}
    
<div id="profile" class="{{ $wrapperClass }}">
    <div class="{{ $headingClass }}">
        <h2 class="{{ $titleClass }}">{{ partial "_t.html" (dict "key" "profile" "lang" ._lang) }}</h2>
    </div>
    <div class="{{ $contentClass }}">
        <p>{{ .Profile | safeHTML | emojify }}</p>
    </div>
</div>
{{ end }}
