{{ if .References }}
    {{ $isSide := false }}

    {{ if isset . "_isSide" }}
        {{ $isSide = ._isSide }}
    {{ end }}

    {{ $wrapperClass := "section" }}
    {{ $headingClass := "section__heading" }}
    {{ $titleClass := "section__title" }}
    {{ $contentClass := "section__content" }}

    {{ if $isSide }}
        {{ $wrapperClass = "sideSection" }}
        {{ $headingClass = "sideSection__heading" }}
        {{ $titleClass = "sideSection__title" }}
        {{ $contentClass = "sideSection__content" }}
    {{ end }}

    {{ $leadClass := printf "%s__lead" $wrapperClass }}
    {{ $items := .References }}

<div id="references" class="{{ $wrapperClass }}">
    <div class="references__timeline">
        <div class="{{ $leadClass }}">
            <div class="{{ $headingClass }}">
                <h2 class="{{ $titleClass }}">{{ partial "_t.html" (dict "key" "references" "lang" ._lang) }}</h2>
            </div>

            {{ if gt (len $items) 0 }}
            {{ $first := index $items 0 }}
            <div class="{{ $contentClass }} references">
                <ul class="references__items">
                    <li class="references__item">
                        {{ if $isSide }}
                            {{ with $first.Name }}
                            <div class="references__line references__line--name"><strong>{{ . | safeHTML }}</strong></div>
                            {{ end }}
                            {{ with $first.Relation }}
                            <div class="references__line references__line--relation">{{ . | safeHTML }}</div>
                            {{ end }}
                            {{ with $first.Position }}
                            <div class="references__line references__line--position">{{ . | safeHTML }}</div>
                            {{ end }}
                            {{ with $first.Contacts }}
                            <ul class="references__contacts references__contacts--stack">
                                {{ range . }}
                                <li class="references__contact">
                                    {{ with .Icon }}<i class="{{ . }}"></i>{{ end }}
                                    {{ with .Info }}<span>{{ . | safeHTML }}</span>{{ end }}
                                </li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        {{ else }}
                            <div class="references__summary">
                                {{ with $first.Name }}<span class="references__name"><strong>{{ . | safeHTML }}</strong></span>{{ end }}
                                {{ with $first.Relation }}<span class="references__relation">({{ . | safeHTML }})</span>{{ end }}
                                {{ with $first.Position }}<span class="references__position">{{ . | safeHTML }}</span>{{ end }}
                            </div>
                            {{ with $first.Contacts }}
                            <ul class="references__contacts references__contacts--inline">
                                {{ range . }}
                                <li class="references__contact">
                                    {{ with .Icon }}<i class="{{ . }}"></i>{{ end }}
                                    {{ with .Info }}<span>{{ . | safeHTML }}</span>{{ end }}
                                </li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        {{ end }}
                    </li>
                </ul>
            </div>
            {{ end }}
        </div>

        {{ if gt (len $items) 1 }}
        <div class="{{ $contentClass }} references">
            <ul class="references__items">
                {{ range after 1 $items }}
                <li class="references__item">
                    {{ if $isSide }}
                        {{ with .Name }}
                        <div class="references__line references__line--name"><strong>{{ . | safeHTML }}</strong></div>
                        {{ end }}
                        {{ with .Relation }}
                        <div class="references__line references__line--relation">{{ . | safeHTML }}</div>
                        {{ end }}
                        {{ with .Position }}
                        <div class="references__line references__line--position">{{ . | safeHTML }}</div>
                        {{ end }}
                        {{ with .Contacts }}
                        <ul class="references__contacts references__contacts--stack">
                            {{ range . }}
                            <li class="references__contact">
                                {{ with .Icon }}<i class="{{ . }}"></i>{{ end }}
                                {{ with .Info }}<span>{{ . | safeHTML }}</span>{{ end }}
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    {{ else }}
                        <div class="references__summary">
                            {{ with .Name }}<span class="references__name"><strong>{{ . | safeHTML }}</strong></span>{{ end }}
                            {{ with .Relation }}<span class="references__relation">({{ . | safeHTML }})</span>{{ end }}
                            {{ with .Position }}<span class="references__position">{{ . | safeHTML }}</span>{{ end }}
                        </div>
                        {{ with .Contacts }}
                        <ul class="references__contacts references__contacts--inline">
                            {{ range . }}
                            <li class="references__contact">
                                {{ with .Icon }}<i class="{{ . }}"></i>{{ end }}
                                {{ with .Info }}<span>{{ . | safeHTML }}</span>{{ end }}
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
