{{ if .References }}
    {{ $isSide := false }}

    {{ if isset . "_isSide" }}
        {{ $isSide = ._isSide }}
    {{ end }}

    {{ $wrapperClass := "section" }}
    {{ $headingClass := "section__heading" }}
    {{ $titleClass := "section__title" }}
    {{ $contentClass := "section__content" }}
    
    {{ if $isSide }}
        {{ $wrapperClass = "sideSection" }}
        {{ $headingClass = "sideSection__heading" }}
        {{ $titleClass = "sideSection__title" }}
        {{ $contentClass = "sideSection__content" }}
    {{ end }}
    
<div id="references" class="{{ $wrapperClass }}">
    <div class="{{ $headingClass }}">
        <h2 class="{{ $titleClass }}">{{ i18n "references" }}</h2>
    </div>
    <div class="{{ $contentClass }}">
        <div class="references">
            {{ range .References }}
            <div class="references__item">
                <div class="references__person">
                    <div class="references__header">
                        <h3 class="references__name">
                            {{ .Name | safeHTML}}
                        </h3>
                    </div>
                    <div class="references__subheader">
                        <h4 class="references__relation">
                            {{ .Relation | safeHTML}}
                        </h4>
                    </div>
                    {{ range .Contacts }}
                        <li class="references__contact">
                            <i class="{{ .Icon }}"></i><span>{{ .Info | safeHTML }}</span>
                        </li>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
