{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
{{ $defaultSections := slice "name" "profile" "experience" "education" "references" }}
{{ $defaultSideSections := slice "avatar" "contacts" "skills" "languages" "diplomas" "interests" }}
{{ $sections := or .Site.Params.section .Site.Params.sections $defaultSections }}
{{ $sideSections := or .Site.Params.side_section .Site.Params.sideSections $defaultSideSections }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ if .Site.Params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}
            {{ range $sections }}
                {{ partial "_render_section.html" (dict "name" . "data" $data "isSide" false) }}
            {{ end }}
        </div>
        {{ if .Site.Params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}
            {{ range $sideSections }}
                {{ partial "_render_section.html" (dict "name" . "data" $data "isSide" true) }}
            {{ end }}
        </div>
    </div>
</body>
</html>
